@page
@model IndexModel
@{
    ViewData["Title"] = "HOME";
}


<div class="welcom_1">
    <img src="~/img/imagen_Bus_welcom.jpg" class="img-fluid" />
    <div class="welcom">
        <div class="containerr">
            <div class="card">
                <div class="content">
                    <h2>Welcome</h2>
                    <h3>BusExpress</h3>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="subtitle">
    <h2>Empresa de Gestion de Buses</h2>
</div>


<div class="grid">
    <div class="containerr">
    <div class="card_grid">
        <div class="content_grid">
            <h2>Estaciones</h2>
            <h3>Administracion de las Estaciones de Buses</h3>
        </div>
    </div>
    </div>
    <div class="containerr">
    <div class="card_grid">
        <div class="content_grid">
            <h2>Buses</h2>
            <h3>Administracion de Buses que cuenta la Empresa</h3>
        </div>
    </div>
    </div>
    <div class="containerr">
    <div class="card_grid">
        <div class="content_grid">
            <h2>Rutas</h2>
            <h3>Administracion de Rutas Propuestas por la Empresa</h3>
        </div>
    </div>
    </div>
</div>



