@page
@model IndexModel
@{
    ViewData["Title"] = "BusExpress";
}


<div class="welcom_1">
    <img src="~/img/imagen_Bus_welcom.jpg" class="img-fluid" />
    <div class="welcom">
        <h1 class="text-1-welcom">Welcome</h1>
    </div>
</div>

<style>

    .welcom_1{
        position: relative;
        transform: translate(-0%,-2%);
        display: inline-block;
        text-align: center;
    }

    .welcom{
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translate(-50%,-89%);
    }

    .text-1-welcom{
        text-align: center;
        color: #FFFFFF;
        font-family: 'Fjalla One', sans-serif;
        font-size: 100px;
    }
</style>
